html, body, #root  {
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
}

.App {
	min-height: calc(100vh - 114px);
}

#footer {
	font-weight: 600;
	height: 50px;
}

.wallet-menu {
	z-index: 999;
}

.link { 
	color: #1976d2;
	text-decoration: underline;
}